# Dependencias (Carpeta pesada que no se sube)
node_modules/
core_panel_master/
v2.4_alpha/

# --- SEGURIDAD CRÍTICA (Archivos Sensibles) ---
# Bloqueamos el panel maestro y cualquier archivo de configuración sensible
panel_maestro.html
.env
.env.*.local

# Archivos de registro y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema Operativo
.DS_Store
Thumbs.db

# Compilados y temporales
dist/
build/
out/
.next/